{% extends "::base.html.twig" %}

{% block title %}OCIMContactsBundle:Adresse:ajoutTypeStructure{% endblock %}

{% block body %}
<h1>Welcome to the Adresse:ajoutTypeStructure page</h1>
{% endblock %}
